/* Write your CSS here */
.Home_container {
  font-family: 'Roboto';
  min-height: 100vh;
}
.Home_ItemsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home_image-sg {
  width: 100%;
}
.Home_image-lg {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .Home_image-sg {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .Home_image-lg {
    display: none;
  }
}
